<!DOCTYPE HTML>
<html>
    <form action = "/customerupdaterec2" method = "POST">
    <h2>Update Query</h2>
    <body>
        <table border = 1>
            <thead>
                <td></td>
                <td>Customer Key</td>
                <td>Customer Name</td>
                <td>Customer Gender</td>
                <td>Customer Address</td>
                <td>Customer District</td>
             </thead>
			
            {% for row in result %}
                <tr>
                    <td><input type = "radio" value = "{{row[0]}}" name = "In_Customer_Key"></td>
                    <td><input type = "text" name = "Customer_Key" id="Customer_Key" value="{{row[0]}}" readonly /></td>
                    <td><input type = "text" name = "Customer_Name" id="Customer_Name" value="{{row[1]}}" readonly /></td>
                    <td><input type = "text" name = "Customer_Gender" id="Customer_Gender" value="{{row[2]}}" readonly /></td>
                    <td><input type = "text" name = "Customer_Address" id="Customer_Address" value="{{row[3]}}" readonly /></td>
                    <td><input type = "text" name = "Customer_District" id="Customer_District" value="{{row[4]}}" readonly /></td>
                </tr>
            {% endfor %}
        </table>
        <input type = "submit" value = "Edit" name = "submit">
        <a href = "/">Go back to home page</a>
    </body>
</html>


