<!DOCTYPE html>
<html>
<head>
	<title>LovReading</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="page">
		<header>
			 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="home.html">LovReading Bookshop</a>

			  <!-- Navbar links -->
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Main Release</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">New Release</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">New Release</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">New Release</a>
			      </li>


			 <!-- Dropdown -->
			    <li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Dropdown link
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="#">Link 1</a>
			        <a class="dropdown-item" href="#">Link 2</a>
			        <a class="dropdown-item" href="#">Link 3</a>
			      </div>
			    </li>
			  <!-- Navbar links -->
			 <!-- Book Dropdown -->
			    <li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Book
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="/bookqueryrec0">Query</a>
			        <a class="dropdown-item" href="/bookaddrec0">Add</a>
			        <a class="dropdown-item" href="/bookupdaterec0">Update</a>
			        <a class="dropdown-item" href="/bookdeleterec0">Delete</a>
			      </div>
			    </li>
			  <!-- Navbar links -->

			 <!-- Reader Dropdown -->
			    <li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Reader
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="/readerqueryrec0">Query</a>
			        <a class="dropdown-item" href="/readeraddrec0">Add</a>
			        <a class="dropdown-item" href="/readerupdaterec0">Update</a>
			        <a class="dropdown-item" href="/readerdeleterec0">Delete</a>
			      </div>
			    </li>
			  <!-- Navbar links -->

			 <!-- Reserve Dropdown -->
			    <li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Reserve
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="/reservequeryrec0">Query</a>
			        <a class="dropdown-item" href="/reserveaddrec0">Add</a>
			        <a class="dropdown-item" href="/reserveupdaterec0">Update</a>
			        <a class="dropdown-item" href="/reservedeleterec0">Delete</a>
			      </div>
			    </li>
			  <!-- Navbar links -->

			 <!-- Officer Dropdown -->
			    <li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Officer
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="/officerqueryrec0">Query</a>
			        <a class="dropdown-item" href="/officeraddrec0">Add</a>
			        <a class="dropdown-item" href="/officerupdaterec0">Update</a>
			        <a class="dropdown-item" href="/officerdeleterec0">Delete</a>
			      </div>
			    </li>
			  <!-- Navbar links -->

			      <li class="nav-item">
			        <a class="nav-link" href="/login">LogIn</a>
			      </li>

			  </div>
			</nav> 
		</header>
	</div>
</body>
</html>